#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.book-item {
  border: 3px solid rgb(12, 59, 12);
  border-radius: 4%;
  margin: 20px 20px;
  background-color: rgb(246, 244, 241);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}
