.book-item {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(192, 207, 192);
  color: maroon;
  text-align: center;
  padding: 15px;
}
.image {
  width: 10%;
}
h2 {
  font-style: italic;
}
.short-description {
  padding: 30px;
}
