.footer {
  height: 5%;
  width: 100%;
  background-color: #a6784c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  position: fixed; /* Fixed the footer at the bottom of the screen */
  bottom: 0; /* Ensuring it stays at the bottom */
  padding: 10px 0; /* Adjust the padding as needed for spacing */
  z-index: 1000; /* Ensure the footer stays on top of other content */
  left: 0;
}

.git-logo {
  height: 40px;
  width: 40px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .git-logo {
    height: 22px;
    width: 35px;
  }
}

/*Tablet Screen*/
@media screen and (max-device-width: 768px) and (min-width: 426px) {
  .git-logo {
    height: 35px;
    width: 50px;
  }
}
footer a {
  color: #17637a;
}
