.navbar {
  height: 9%; /* Adjusted height for better visibility */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-around; /* Spread out the items */
  align-items: center;
  padding: 0 5px; /* Add padding on both sides instead of just left */
  background-color: #a6784c;
  color: #17637a;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  position: fixed; /* Make the navbar fixed at the top */
  top: 0; /* Align to the top */
  left: 0;
  z-index: 1000; /*ensure it's above other content*/
}

.app-logo {
  height: 80px;
  width: 80px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .app-logo {
    height: 45px;
    width: 75px;
  }
  .navbar {
    font-size: 1em;
  }
}
.navbar a {
  color: #17637a;
}
