.navbar {
  height: 20%;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 70px;
  background-color: #a6784c77;
  color: #17637a;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  position: relative;
}

.app-logo {
  height: 100px;
  width: 100px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .app-logo {
    height: 45px;
    width: 75px;
  }
  .navbar {
    font-size: 1em;
  }
}
