.image-favorites {
  max-width: 150px; /* Ensure the image doesn't get too large */
  max-height: 200px; /* Adjust height to fit within the card */
  margin-right: 20px; /* Add space between the image and text content */
  border-radius: 8px; /* Optional: Rounded corners for the image */
}
.title-cart {
  font-style: italic;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.list {
  display: flex; /* Arrange cards in a horizontal row */
  flex-direction: column; /* Allow cards to wrap to the next row if needed */
  gap: 20px; /* Add spacing between cards */
  padding: 20px; /* Add padding around the container */
}
.cartItem {
  display: flex; /* Make items inside the card flexible */
  flex-direction: row; /* Stack content vertically */
  align-items: center; /* Center-align content inside the card */
  justify-content: space-between;
  padding: 15px; /* Add space inside the card */
  border: 1px solid #ccc; /* Add a light border around the card */
  border-radius: 8px; /* Round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
  background-color: rgb(192, 207, 192); /* Light background for the card */
  width: 100%; /* Set a wider width for the card */
  margin: 0; /* Center the card horizontally */
}
.buttons-favorites-list {
  display: flex; /* Flex container for the buttons */
  flex-direction: row; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
}
.favorites-list {
  width: fit-content;
  padding: 8px 12px; /* Add padding to buttons */
  border: none; /* Remove default border */
  border-radius: 4px; /* Round the button corners */
  background-color: #a6784c77; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
}
button:hover {
  background-color: #6c4a2f; /* Darken the button on hover */
}
.favoriteItemCard h2,
.favoriteItemCard h4,
.favoriteItemCard p {
  margin: 5px 0; /* Consistent spacing for text elements */
}
p {
  padding-left: 20px;
}
.cart-container {
  padding-top: 60px; /* Adjust the value to match your navbar height */
  padding-bottom: 60px;
}
