.container {
  position: fixed;
  top: 7%; /* Start the sidebar after the navbar height */
  left: 0;
  width: 220px;
  z-index: 1;
  background-color: rgb(232, 207, 169);
  color: rgb(7, 75, 7);
  padding: 0px;
  display: flex;
  flex-direction: column;
  bottom: 4.5%; /* Subtract the height of the footer (8% of the screen) */
  box-sizing: border-box;
  border: solid 0.75px;
  border-color: rgb(9, 44, 9, 0.7);
}
.container .sidebar li {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}
.container .sidebar ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}
.card {
  padding: 0px;
  margin-top: 40px;
  left: 0px;
}
.filter-link {
  width: 50%;
}
.book-item {
  margin-top: 8% !important;
}
